{% extends "base.html" %}
{% block content %}
<div id="mainPage">
	<div class="container-fluid-full">
		<div class="row-fluid">				
			<!-- start: Display image -->
			<div class="span9">
                <img src="/static/img/NDStadium.jpg" alt="Notre Dame View" style="width:100%;height:auto;margin:2px 2px">
			</div>
			<!-- end: Display image -->
			<!-- start: Website info -->
            <div class="span3" style="margin-left:1.5%">
              <h2>About the website:</h2>
              <ul>
                <li>Performs analysis of different datasets from various sources</li>
                <li>Aim is to apply various aspects of data science pipeline on data from real world applications</li>
                <li>Key focus is to become familiar with interactive visualization using <span><a target="_blank" href="https://d3js.org/">d3.js</a></span></li>
              </ul>
              <span style="display:block; height: 100px;"></span>
              <h2>About me:</h2>
                <ul>
                    <li>I am Anshumaan Bajpai, a PhD candidate in the Department of Chemical and Biomolecular Engineering at University of Notre Dame, USA</li>
                    <li>To know more about my career interests, please visit my <span><a target="_blank" href="https://www.linkedin.com/in/anshumaan-bajpai/">LinkedIn</a></span> profile.</li>
                    <li>In case you have any questions or suggestions, please feel free to drop me an email at <span><a href="mailto:bajpai.anshumaan@gmail.com">bajpai.anshumaan@gmail.com</a></span></li>
                </ul>
            </div>
			<!-- end: Website info -->

		</div><!--/row-fluid-->
	</div><!--/container-fluid-full-->
</div>
{% endblock %}