{% extends "base.html" %}
{% block content %}
<div id="mainPage">
	<div class="container-fluid-full">
		<div class="row-fluid">				
			<!-- start: Content -->
            <div class="span3">
                <form class="well">
              <h3>About me:</h3>
              <p>Ahoy!,</p>
              <p>I am Anshumaan Bajpai, a graduate student in the Department of Chemical and Biomolecular Engineering at University of Notre Dame, USA.</p>
              <p>
                I hope you enjoyed using this app. In case you have any questions, please feel free to drop me an email at 
                <span>
                  <a href="mailto:bajpai.anshumaan@gmail.com">bajpai.anshumaan@gmail.com</a>
                </span>
              </p>
              <p>
                To know more about my technical background and career interests, please visit my LinkedIn page 
                <span>
                  <a target="_blank" href="https://www.linkedin.com/pub/anshumaan-bajpai/19/781/7a1">here</a>
                </span>
              </p>
              <h3>About me:</h3>
              <p> I am Anshumaan Bajpai, a PhD candidate in the Department of Chemical and Biomolecular Engineering at University of Notre Dame, USA. </p>
              <p> 
                I hope you enjoyed the features of this application. In case you have any questions/suggestions, please feel free to drop me an email at 
                <span>
                  <a href="mailto:bajpai.anshumaan@gmail.com">bajpai.anshumaan@gmail.com</a>
                </span>
                .
              </p>
              <p>
                To know more about my technical background and career interests, please visit my 
                <span>
                  <a target="_blank" href="https://www.linkedin.com/in/anshumaan-bajpai/">LinkedIn profile</a>
                </span>
                .
              </p>
              </form>
            </div>
			<!-- end: Content -->
			<!-- start: Main Menu -->
			<div class="span9">
                <img class="img-rounded" src="/static/img/NDStadium.jpg" alt="Notre Dame View" style="width:100%;height:auto;margin:2px 0px">
			</div>
			<!-- end: Main Menu -->

		</div><!--/row-fluid-->
	</div><!--/container-fluid-full-->
</div>
{% endblock %}