{% extends "base.html" %}
{% block content %}
<div id="mainPage">
	<div class="container-fluid-full">
		<div class="row-fluid">				
			<!-- start: Display image -->
			<div class="span9">
                <img src="/static/img/NDStadium.jpg" alt="Notre Dame View" style="width:100%;height:auto;margin:2px 2px">
			</div>
			<!-- end: Display image -->
			<!-- start: Website info -->
            <div class="span3" style="margin-left:1.5%">
              <h2>About the website:</h3>
              <p class="text-justify">Random Analytics performs an analysis of different datasets from various sources.</p>
              <p class="text-justify">The aim of this application is to apply various aspects of Data Science like data mining, model building, predictive modelling and visualization for data from real world applications.</p>
              <p class="text-justify">One of the key focus is to become familiar with <span><a target="_blank" href="https://d3js.org/">d3.js</a></span>, which is a javascript library for interactive web applications.</p>
              <hr>
              <h2>About me:</h3>
              <p class="text-justify"> I am Anshumaan Bajpai, a PhD candidate in the Department of Chemical and Biomolecular Engineering at University of Notre Dame, USA. </p>
              <p class="text-justify"> I hope you enjoyed the features of this application. In case you have any questions or suggestions, please feel free to drop me an email at <span><a href="mailto:bajpai.anshumaan@gmail.com">bajpai.anshumaan@gmail.com</a></span>.</p>
              <p class="text-justify"> To know more about my technical background and career interests, please visit my <span><a target="_blank" href="https://www.linkedin.com/in/anshumaan-bajpai/">LinkedIn</a></span> profile.</p>
            </div>
			<!-- end: Website info -->

		</div><!--/row-fluid-->
	</div><!--/container-fluid-full-->
</div>
{% endblock %}