{% extends "base.html" %}
{% block content %}
    <div class="container-fluid-full">
        <div class="row-fluid">
            <!-- Form column -->
            <div class="span7" style="padding-top:20px;padding-right:10px;padding-left:20px">
                <form role="form" data-toggle="validator" action="/instaResult/" method="post">
                    <div class="form-group">
                        <label for="instaq">Select a username:</label>
                        <select class="form-control" name="instaquery" id="instaq" type="text">
                            <option value="@victoriabeckham">@victoriabeckham</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="emailEnter">Email Address:</label>
                        <input type="email" name="emailId" class="form-control" id="emailEnter" placeholder="eg. abc@xyz.com">
                    </div>
                    <div class="form-group">
                        <label for="fullname">Full Name:</label>
                        <input type="text" name="full_name" class="form-control" id="fullname" placeholder="eg. John Smith">
                    </div>
                    <button type="submit" class="btn btn-default" style="background-color:#04B4F0;color:#ffffff">Submit</button>
                    <br>
                    <br>
                </form>
                <h3>Inspiration:</h3>
                <ul>
                    <li>Inspired from the twitter based <span><a target="_blank" href="https://personality-insights-livedemo.mybluemix.net/">personality insights</a></span> provided by IBM Watson</li>
                    <li>Suggested by my mentor towards the end of my internship at IBM Research Lab, Bangalore</li>
                </ul>
                <h3>To do:</h3>
                <ul> <!-- unordered list -->
                    <li>Add more usernames to cache memory</li>
                    <li>Make the application real-time where people can suggest or rather search any instagram user profile</li>
                </ul>
            </div>
            <!-- Form column ends -->
            <!-- Watson_Logo -->
            <div class="span5" style="padding-top:4px;padding-right:10px;padding-left:1px;padding-bottom:4px">
                <img src="https://www.ke-next.de/assets/images/1/watson_avatar-03599761.jpg" class="img-responsive fancy-tooltipwoborder" alt="Watson_Logo" title="<div>Do let me know if this image usage <br>violates copyright and <br>I will take it down</div>">
            </div>
            <!-- Watson_Logo ends -->
        </div>
    </div>
    
    <script>
        $(document).ready(fancytooltipwoborder);
        function fancytooltipwoborder() {
            $('.fancy-tooltipwoborder').tooltipster({
            animation: 'fade',
            delay: 100,
            theme: 'tooltipster-borderless',
            contentAsHTML: true,
            });
        }
    </script>

{% endblock %}