{% extends "base.html" %}
{% block content %}
<div id="mainPage">
	<div class="container-fluid-full">
		<div class="row-fluid">	
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="#" title="<div>Data Collection in progress.<br>Please check after the first Week of Dec'16</div>" class="fancy-tooltip chicago" onclick='zoomInto(41.87, -87.63, "chicago");'><span class="hidden-tablet" style="color:#04B4F0"> Chicago, USA</span></a></li>
                        <li><a href="#"><span class="hidden-tablet" style="color:#04B4F0"> New York City, USA</span></a></li>
                        <span style="display:block; height:75px;"></span>

                        <!-- A form that will display the address selection made by user -->
                        <div id="locations" style="padding:5px">
                        </div>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
			
			<!-- start: Content -->
            <div id="content" class="span10">
                <div id="routeAnalysis"></div>        
                <div id="map"></div>   
            </div>
			<!-- end: Content -->
            
		</div><!--/row-fluid-->
	</div><!--/container-fluid-full-->
</div>

<script>
    <!-- Fancy ToolTip script -->
    $(document).ready(fancytooltip);        
    function fancytooltip() {
        $('.fancy-tooltip').tooltipster({
        animation: 'fade',
        delay: 100,
        theme: 'tooltipster-borderless',
        contentAsHTML: true,
        });
    }        

    <!-- Initial Map for display -->
    function initMap() {
        $( "#map" ).empty();
        var uluru = {lat: 0, lng: 0};
        mapInit = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            center: uluru
        });
    }
    <!-- Zooming into a given city and placing markers -->
    function zoomInto(latVal, lngVal, city){
        initMap();
        var uluruZoomed = {lat:latVal, lng:lngVal};
        mapInit.panTo(uluruZoomed);
        smoothZoom(mapInit, 12, 2);
		placeMarker(mapInit, city);
        buildInputForm(city);
    }
    function smoothZoom (map, max, cnt) {
        if (cnt >= max) {
            return;
        }
        else {
            z = google.maps.event.addListener(map, 'zoom_changed', function(event){
                google.maps.event.removeListener(z);
                smoothZoom(map, max, cnt + 2);
            });
            setTimeout(function(){map.setZoom(cnt)}, 500); // 80ms is what I found to work well on my system -- it might not work well on all systems
        }
    }
    //Placing the markers on the map
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    function placeMarker(mapObj, ncity){
        $.getJSON($SCRIPT_ROOT + '/getCityData/', {cityname: ncity}, function(data) {        
            for (i=0; i<data.length; i++) {
                if (data[i].color=="green") {
                    iconLink = "http://maps.google.com/mapfiles/kml/pushpin/grn-pushpin.png"
                } else {
                    iconLink = "http://maps.google.com/mapfiles/kml/shapes/placemark_square_highlight.png"
                }
                var marker = new google.maps.Marker({
                                            map: mapObj,
                                            position: new google.maps.LatLng(data[i].geoCode[0], data[i].geoCode[1]),
                                            title: data[i].name,
                                            animation: google.maps.Animation.DROP,
                                            icon: iconLink,
                                            name: data[i].name,
                                            code: data[i].code,
                                            location: data[i].location,
                                            color: data[i].color
                });
                google.maps.event.addListener(marker, 'click', function() {
                                                if ($("#Loc1").attr("value")=="") {
                                                    $("#Loc1").attr("value", this.name);
                                                    $("#Loc1").attr("data-code", this.code);
                                                    $("#Loc1").attr("data-location", this.location);
                                                    $("#Loc1").attr("data-color", this.color);
                                                } else {
                                                    $("#Loc2").attr("value", $("#Loc1").attr("value"));
                                                    $("#Loc2").attr("data-code", $("#Loc1").attr("data-code"));
                                                    $("#Loc2").attr("data-location", $("#Loc1").attr("data-location"));
                                                    $("#Loc2").attr("data-color", $("#Loc1").attr("data-color"));
                                                    
                                                    $("#Loc1").attr("value", this.name);
                                                    $("#Loc1").attr("data-code", this.code);
                                                    $("#Loc1").attr("data-location", this.location);
                                                    $("#Loc1").attr("data-color", this.color);
                                                }
                });
            }
        });
        return false;        
    }
    //Creating a submit form for the city
    function buildInputForm(city_bif){
        $( "#locations" ).empty();
        var locationForm = d3.select("#locations");
        
        var formElements = locationForm.append("div")
                                        .attr("class", "form-group");
        var formInputLabel = formElements.append("label")
                                         .attr("style", "color:#04B4F0;")
                                         .text("Select 2 points on the map:");
        var formInput1 = formElements.append("input")
                                        .attr("type", "text")
                                        .attr("id", "Loc1")
                                        .attr("name", "Loc1")
                                        .attr("value", "")
                                        .attr("data-code", "")
                                        .attr("data-location", "")
                                        .attr("data-color", "")
                                        .attr("style", "max-width:75%");
        var formInput2 = formElements.append("input")
                                        .attr("type", "text")
                                        .attr("id", "Loc2")
                                        .attr("name", "Loc2")
                                        .attr("value", "")
                                        .attr("data-code", "")
                                        .attr("data-location", "")
                                        .attr("data-color", "")
                                        .attr("style", "max-width:75%");
        var formSubmit = locationForm.append("button")
                                        .attr("class", "btn btn-default")
                                        .attr("style", "background-color:#04B4F0;color:#ffffff")
                                        .attr("onclick", "obtainAnalysisData("+city_bif+");")
                                        .text("Submit");
    }
    // Function to present the display analysis
    function obtainAnalysisData(city_oad){
        // Obtaining the route for which the analysis needs to be presented
        var locFC = $("#Loc1").attr("data-code");
        var locSC = $("#Loc2").attr("data-code");
        var locFV = $("#Loc1").attr("value");
        var locSV = $("#Loc2").attr("value");
        var locFCol = $("#Loc1").attr("data-color");
        var locSCol = $("#Loc2").attr("data-color");

        if (locFC==locSC){
            swal({
            title:"Oh Come on!!!", 
            text:"You gotta select 2 different points mate! \n (Note: Imagine Australian Accent)", 
            imageUrl:"http://pix.iemoji.com/images/emoji/apple/ios-9/256/pouting-face.png"
            });
        } else if (locFCol=="red" && locSCol=="red"){
            swal({
            title:"Atleast one address needs to be green", 
            text:"Google allows only so many queries for free", 
            imageUrl: "https://cdn.shopify.com/s/files/1/1061/1924/files/Sad_Face_Emoji.png?9898922749706957214"
            });            
        } else {
            $.getJSON($SCRIPT_ROOT + '/getThisRoute/', {pt1C: locFC, pt2C: locSC, pt1V: locFV, pt2V: locSV, citygTR: city_oad}, function(data) {
            return false;
        });
        }
    }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{GMAPI}}&callback=initMap">
</script>         
{% endblock %}