{% extends "base.html" %}
{% block content %}
<div id="mainPage">
	<div class="container-fluid-full">
		<div class="row-fluid">	
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="#" title="<div>Data Collection in progress.<br>Please check after the first Week of Dec'16</div>" class="fancy-tooltip chicago" onclick='zoomInto(41.87, -87.63, "chicago");'><span class="hidden-tablet" style="color:#04B4F0"> Chicago, USA</span></a></li>
                        <li><a href="/traffic/"><span class="hidden-tablet" style="color:#04B4F0"> New York City, USA</span></a></li>
                        <li><span class="hidden-tablet" style="color:#04B4F0" id="result"> USA </span></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
			
			<!-- start: Content -->
            <div id="content" class="span10">
                <div id="map"></div>           
            </div>
			<!-- end: Content -->
            
		</div><!--/row-fluid-->
	</div><!--/container-fluid-full-->
</div>

<script>
    <!-- Fancy ToolTip script -->
    $(document).ready(fancytooltip);        
    function fancytooltip() {
        $('.fancy-tooltip').tooltipster({
        animation: 'fade',
        delay: 100,
        theme: 'tooltipster-borderless',
        contentAsHTML: true,
        });
    }        

    <!-- Initial Map for display -->
    function initMap() {
        var uluru = {lat: 0, lng: 0};
        mapInit = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            center: uluru
        });
    }
    <!-- Zooming into a given city and placing markers -->
    function zoomInto(latVal, lngVal, city){
        var uluruZoomed = {lat:latVal, lng:lngVal};
        mapInit.panTo(uluruZoomed);
        smoothZoom(mapInit, 12, 2);
		placeMarker(mapInit, city);
    }
    function smoothZoom (map, max, cnt) {
        if (cnt >= max) {
            return;
        }
        else {
            z = google.maps.event.addListener(map, 'zoom_changed', function(event){
                google.maps.event.removeListener(z);
                smoothZoom(map, max, cnt + 2);
            });
            setTimeout(function(){map.setZoom(cnt)}, 500); // 80ms is what I found to work well on my system -- it might not work well on all systems
        }
    }
    
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    function placeMarker(mapObj, ncity){
        $.getJSON($SCRIPT_ROOT + '/getCityData', {cityname: ncity}, function(data) {
                                                                        $("#result").text(data[0].geoCode[0]);
                                                                        
                                                                        a = data
                                                                        
                                                                        // Load the station data. When the data comes back, create an overlay.
                                                                        var overlay = new google.maps.OverlayView();

                                                                        // Add the container when the overlay is added to the map.
                                                                        overlay.onAdd = function() {
                                                                            var layer = d3.select(this.getPanes().overlayLayer).append("div")
                                                                                .attr("class", "stations");

                                                                            // Draw each marker as a separate SVG element.
                                                                            // We could use a single SVG, but what size would it have?
                                                                            overlay.draw = function() {
                                                                              var projection = this.getProjection(),
                                                                                  padding = 10;

                                                                              var marker = layer.selectAll("svg")
                                                                                  .data(a)
                                                                                  .each(transform) // update existing markers
                                                                                .enter().append("svg")
                                                                                  .each(transform)
                                                                                  .attr("class", "marker");

                                                                              // Add a circle.
                                                                              marker.append("circle")
                                                                                  .attr("r", 4.5)
                                                                                  .attr("cx", padding)
                                                                                  .attr("cy", padding);

                                                                              // Add a label.
/*                                                                              marker.append("text")
                                                                                  .attr("x", padding + 7)
                                                                                  .attr("y", padding)
                                                                                  .attr("dy", ".31em")
                                                                                  .text(function(d) { return d.name; });
*/
                                                                              function transform(d) {
                                                                                d = new google.maps.LatLng(d.geoCode[0], d.geoCode[1]);
                                                                                d = projection.fromLatLngToDivPixel(d);
                                                                                return d3.select(this)
                                                                                    .style("left", (d.x - padding) + "px")
                                                                                    .style("top", (d.y - padding) + "px");
                                                                              }
                                                                            };
                                                                          };

                                                                          // Bind our overlay to the map…
                                                                          overlay.setMap(mapObj);
                                                                                                                                   
                                                                                                




                        
                                                                        
                                                                        
/*                                                                        geocoder = new google.maps.Geocoder();
                                                                        // Iterate over all the data points and place marker on the map
                                                                        // for(i=0; i<data.allRoutes["Pt1C"].length; i++) {
                                                                        for(i=0; i<11; i++) {
                                                                            var address = data.allRoutes["Pt2L"][i];
                                                                            geocoder.geocode( { 'address': address}, function(results, status) {
                                                                                if (status == google.maps.GeocoderStatus.OK) {
                                                                                    var marker = new google.maps.Marker({
                                                                                    map: mapObj,
                                                                                    position: results[0].geometry.location
                                                                                });
                                                                                } else {
                                                                                    alert('Geocode was not successful for the following reason: ' + status);
                                                                                }
                                                                                
                                                                            });
                                                                            
                                                                        }
*/                                                                    }
        );
        return false;
    }
    
   
    
    
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{GMAPI}}&callback=initMap">
</script>         
{% endblock %}